#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card-item {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(255, 62, 62);
  border-radius: 5px;
  cursor: pointer;
  h3 {
    background-color: rgb(255, 62, 62);
    color: rgb(252, 252, 252);
    margin: 0;
    padding: 0.4rem;
  }
  p {
    padding: 2rem;
  }
}
